@import url('../../src/styles.css');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* color-scheme: light dark; */
  position: relative;
  font-family: system-ui;
  background-repeat: repeat;
  background-image:
    linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee
    ),
    linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee
    );
  background-size: 60px 60px;
  background-position:
    0 0,
    30px 30px;
}

.parallax {
  width: 100px;
  height: 100px;
  background-color: peru;
  transition: background-color 0.5s ease-in-out;
  border-radius: 3px;

  &.active {
    background-color: slateblue;
  }
}
